body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    margin-bottom: 20px;
}

.home-section {
    text-align: center;
    padding: 50px 0;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.email-photo {
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
}

.linkedin-photo {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}
.brand-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.intro-text {
    margin-top: 20px;
}

.about-section, .projects-section, .contact-section {
    padding: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 480px) { 
    .about-section, .projects-section, .contact-section, .projects-section {
        padding: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.footer {
    padding: 20px 0;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.project {
    margin-bottom: 20px;
}

a.btnop {
    display: inline-block;
    text-decoration: none;
  }
